<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Cloud Enabled announced World’s First “OpenStack IaaS Expert” program, this training is backed by Senior Cloud Engineers from Cloud Enabled who actually implement OpenStack for the enterprise customers. We focus on Design, Deploy and Manage
</p>