<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  So you think you've found a bug. That's great! Seriously, it is. The Openstack community values your setup and testing efforts and wants your feedback. To log a bug you must have a Launchpad account, so sign up at https://launchpad.net/+login if you do not already have a Launchpad ID.

You can view existing bugs and report your bug in the Launchpad Bugs area. It is suggested that you first use the search facility to see if the bug you found has already been reported (or even better, already fixed). If it still seems like your bug is new or unreported then it is time to fill out a bug report.

Some tips:

Give a clear, consise summary!
Provide as much detail as possible in the description. Paste in your command output or stack traces, link to screenshots, etc.
Be sure to include what version of the software you are using. This is especially critical if you are using a development branch eg. "Austin release" vs lp:nova rev.396.
Any deployment specific info is helpful as well. eg. Ubuntu 10.04, multi-node install.
The Launchpad Bugs areas are available here:

Nova: https://bugs.launchpad.net/nova
Swift: https://bugs.launchpad.net/swift
Glance: https://bugs.launchpad.net/glance
Keystone: https://bugs.launchpad.net/keystone
Dashboard: https://bugs.launchpad.net/horizon
</p>