
<div class="media">
  <% @comments.each do |comm| %>
    <div class="media-body">
      <h4 class="media-heading"><%= comm.title %>
        <small>Posted on <%= comm.created_at.strftime('%c') %></small>
      </h4>
      <%= comm.comment %>
    </div>
  <% end %>
</div>