  <div class="container-fluid">
    <div class="error bg-danger"></div>
    <%= form_tag(posts_path, method: "post") do %>
      <h3 class="form-signin-heading">New Post</h3>
      <div class="label">Title</div>
      <%= text_field_tag "post[title]", nil, class: "form-control", required: true %>
      <div class="label">Post Message</div>
      <%= text_area_tag "post[post_message]", nil, class: 'form-control create_post_text', rows:"3", pattern:".{2,1000}", required: true %>
      <%= submit_tag "Create", class: "btn btn-primary btn-block" %>
    <% end %>
  </div> <!-- /container -->
